

.gallery{
    width: 85%;

    
}


  .gallery img{
    width: 100%;
    margin-bottom: 45px;
    margin-left: 27px;
    margin-right: 27px;
}

 .gallery-menu .menu{
    display: flex; 
    justify-content: center;
    gap: 40px;

    button{
        font-family: 'Jost' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #086873 62%;
    margin-bottom: 50px;
    outline: none;
    border:none;
    border-radius: 0;
    }
}

// .gallery-menu .menu button{
//     font-family: 'Jost' sans-serif;
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 25px;
// display: flex;
// align-items: center;
// text-align: right;
// color: #086873 62%;
// margin-bottom: 50px;
// outline: none;
// border:none;
// border-radius: 0;
// }

@media (max-width:768px) {
    .gallery-menu .menu {
        display: none;
    }
    .gallery img {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 22px;
    }
}

@media (max-width:800px) and (min-width: 768px) {
    .gallery img {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 40px;
    }
}