
.header {
    /* padding: 10px 0; */
    float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px solid black
  }
  .header .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .main-header .header-left {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header .main-header .header-left .header-logo {
    /* margin-right: 50px; */
    width: 230px;
    padding-left: 10px;
  }
  .header .main-header .header-left .header-nav {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
  .header .main-header .header-right {
    max-width: 225px;
    width: 100%;
  }
  .header .main-header .header-right .block-signin {
    text-align: right;
  }
  .header .nav-main-menu {
    width: 100%;
    padding: 0px;
    float: left;
  }
  .header .main-menu {
    display: inline-block;
    padding-top: 5px;
  }
  .header .main-menu li {
    float: left;
    position: relative;
    text-align: left;
  }
  /* .header .main-menu li.has-children > a::after {
    content: "\f151";
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1 !important;
    font-size: 14px;
    opacity: 1;
    margin-left: 4px;
  } */
  .header .main-menu li.hr {
    padding: 0px 22px;
  }
  .header .main-menu li.hr span {
    background-color: #F2F4F7;
    height: 1px;
    width: 100%;
    display: block;
    margin: 5px 0;
  }
  .header .main-menu li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    display: block;
    padding: 30px 22px 30px 22px;
    text-decoration: none;
    position: relative;
  }
  .header .main-menu li a:hover {
    color: #006D77;
  }
  .header .main-menu li a:hover i {
    opacity: 1;
    transition: 0.2s;
  }
  .header .main-menu li a i {
    font-size: 12px;
    margin-right: 8px;
    opacity: 0.38;
    transition: 0.2s;
  }
  .header .main-menu li ul {
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.2s;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 999;
    min-width: 180px;
    border-radius: 4px;
    padding: 8px 0px 8px 0;
    box-shadow: 4px 4px 40px rgba(16, 24, 40, 0.1);
    background-color: #ffffff;
  }
  .header .main-menu li ul li {
    width: 100%;
  }
  .header .main-menu li ul li a {
    font-size: 14px;
    color: #101828;
    position: relative;
    padding: 10px 22px 10px 22px;
    transition: 0.2s;
  }
  .header .main-menu li ul li a:hover {
    padding-left: 25px;
    transition: 0.2s;
  }
  .header .main-menu li ul li a.closer {
    padding: 8px 22px 8px 22px;
  }
  .header .main-menu li ul li ul {
    top: 0px;
    left: 100%;
  }
  .header .main-menu li ul.two-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    min-width: 350px;
  }
  .header .main-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  .header .main-menu li:hover > ul li {
    width: 100%;
  }
  .header .text-link-bd-btom {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #006D77;
    display: inline-block;
    position: relative;
    padding-left: 13px;
  }
  .header .text-link-bd-btom:hover {
    color: #101828;
  }
  .header .text-link-bd-btom::before {
    content: "";
    background: #006D77;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    animation: shadow-pulse 1s infinite;
  }
  .header .block-signin .btn-shadow {
    box-shadow: 0px 47px 65px rgba(21, 28, 38, 0.1);
  }
  
  .header-right .header-button{
    display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px 15px 25px;
  gap: 10px;
  width: 145px;
  height: 46px;
  background: #111111;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 190%;
  color: #FFFFFF;
  border-radius: 5px;
  }
  .header .main-header .header-right .block-signin {
    text-align: right;
    display: flex;
    justify-content: end;
  }
  
  .header-right .arrow-right{
    width: 15px;
  }
  .header-right:hover .arrow-right{
    margin-left: 6px;
    transition: 1s;
  }
  
  .header.stick {
    /* padding: 10px 0px; */
  }
  .header.header-2 {
    background-color: #DBECE5;
  }